
$primary-1:#03a9f4;
$primary-2:#a75e2e;
$primary-3:#ccfa4d;
$primary-4:#656a70;

$pr1-light-1: mix(#fff,$primary-1,40%);
$pr2-light-1: mix(#fff,$primary-2,40%);
$pr3-light-1: mix(#fff,$primary-3,40%);
$pr4-light-1: mix(#fff,$primary-4,40%);

$pr1-light-2: mix(#fff,$primary-1,75%);
$pr2-light-2: mix(#fff,$primary-2,75%);
$pr3-light-2: mix(#fff,$primary-3,75%);
$pr4-light-2: mix(#fff,$primary-4,75%);

$pr1-light-3: mix(#fff,$primary-1,90%);
$pr2-light-3: mix(#fff,$primary-2,90%);
$pr3-light-3: mix(#fff,$primary-3,90%);
$pr4-light-3: mix(#fff,$primary-4,90%);

$pr1-dark-1: mix(#000,$primary-1,20%);
$pr2-dark-1: mix(#000,$primary-2,20%);
$pr3-dark-1: mix(#000,$primary-3,20%);
$pr4-dark-1: mix(#000,$primary-4,20%);

$pr1-dark-2: mix(#000,$primary-1,50%);
$pr2-dark-2: mix(#000,$primary-2,50%);
$pr3-dark-2: mix(#000,$primary-3,50%);
$pr4-dark-2: mix(#000,$primary-4,50%);

$pr1-dark-3: mix(#000,$primary-1,70%);
$pr2-dark-3: mix(#000,$primary-2,70%);
$pr3-dark-3: mix(#000,$primary-3,70%);
$pr4-dark-3: mix(#000,$primary-4,70%);

$font-regular:'Pop-r';
$font-medium:'Pop-m';
$font-bold:'Pop-b';
$font-sb:'Pop-sb';
$font-os:'Open Sans';

