.simple {
    display: block;
    text-align: center;
}

.simple .head {
    margin-top: 90px;
}

.simple-info {
    margin: 40px 0 80px 0;
    display: grid;
    grid-template-columns: 22% 4% 22% 4% 22% 4% 22%;
}

.simple-box {
    padding: 30px;
}

.simple-box h3 {
    text-transform: uppercase;
    font-size: 17px;
    margin: 20px 0 10px 0;
}

.simple-img {
    margin: 30px 0 0 0;
    position: relative;
}

.sim-l {
    position: relative;
}

.sim-c {
    position: absolute;
    top: 75px;
}

.simple-box .Paragraph {
    font-size: 13px;
    text-align: center;
}

@media (min-width: 1200px) {
    .simple .head {
        margin-top: 90px;
    }

    .simple-info {
        margin: 40px 0 80px 0;
        display: grid;
        grid-template-columns: 22% 4% 22% 4% 22% 4% 22%;
    }

    .simple-box {
        padding: 30px;
    }

    .simple-box .Paragraph {
        font-size: 13px;
        text-align: center;
    }
}

@media (min-width: 992px) {
    .simple .head {
        margin-top: 60px;
    }

    .simple-info {
        margin: 40px 0 60px 0;
        display: grid;
        grid-template-columns: 22% 4% 22% 4% 22% 4% 22%;
    }

    .simple-box {
        padding: 30px;
    }

    .simple-box .Paragraph {
        font-size: 13px;
        text-align: center;
    }
}

@media (min-width: 768px) {
    .simple .head {
        margin-top: 60px;
    }

    .simple-info {
        margin: 40px 0 60px 0;
        display: grid;
        grid-template-columns: 22% 4% 22% 4% 22% 4% 22%;
    }

    .simple-box {
        padding: 10px;
    }

    .simple-box .Paragraph {
        font-size: 13px;
        text-align: justify;
    }
}

@media (min-width: 320px) {
    .simple .head {
        margin-top: 60px;
    }

    .simple-info {
        margin: 40px 0 60px 0;
        display: block;
    }

    .simple-box {
        padding: 10px;
    }

    .simple-box .Paragraph {
        font-size: 13px;
        text-align: center;
    }
}