

.header {
    background-color: $primary-1;
    background-repeat: no-repeat;

}
.gab {
    font-family: $font-gabriola;
    color: $light;
    font-size: 39px;

}

.myr {
    font-family: $font-myriad;
    font-size: 20px;
    text-transform: uppercase;
    color: $primary-3;

}

.word {
    font-family: $font-myriad;
    color: $light;
    font-size: 13px;
}

.words {
    font-family: $font-os;
    font-size: 13px;
    text-transform: capitalize;
    color: $light;
}

.name p {
    margin: -15px 0;
}

.name {
    padding: 20px 0;
    align-items: flex-start;

}

.image img {
    width: 62px;
    height: 65px;
    float: left;
    margin-right: 10px;
}

.image {
    margin: 0 10px;
}

.p2 {
    width: 295px;
}

.logo {
    margin-top: 16px;
}

.btn-primary {
    background-color: $primary-1;
    border: none;
    font-family: $font-myriad;
    text-transform: uppercase;
    font-weight: 700;

    &:hover {
        background-color: $primary-1;
        color: $primary-3;
        border: none;
    }

    &:disabled {
        background-color: $primary-1;
        color: $light;
        border: none;
    }

    &:default {
        background-color: $primary-1;
        color: $light;
        border: none;
    }

}

.btn-primary:focus {
    background-color: $primary-1;
    color: $light;
    border: none;
}

.dropdown {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 45px;
    padding-left: 180px;
}

.btn-primary:not(:disabled):not(.disabled):active {
    color: $light;
    background-color: $primary-1;
    border: none;
}

.btn-primary:not(:disabled):not(.disabled):active:focus {
    box-shadow: none;
    border: none;
}

.open>.dropdown-toggle.btn-primary:focus,
.open>.dropdown-toggle.btn-primary:hover {
    background-color: $primary-1;
    color: $light;
    border: none;
}

.how a {
    text-decoration: none;
    border: none;
    width: 100px;
}

.how:focus {
    background-color: $primary-1;

}

.phone {
    margin: -25px 0 -37px 730px;

}

.phone a:hover {
    filter: drop-shadow(3px 3px 10px #ffffff);
}

.how {
    display: flex;
}

.dropdown-menu {
    left: 200px;
}

.service {
    margin-right: 20px;
}

.about {
    margin-right: 20px;
}

.but-2 {
    position: absolute;
    display: flex;
    margin: -70px 0px 10px 780px;

}

.but-2>.button3 {
    width: 100px;
    background-color: $pr1-dark-1;
    font-family: $font-sb;
    font-size: 12px;
    margin-top: 40px;
    margin-right: 10px;

}

.button3:hover {
    background-color: $pr1-light-1;
}

.but-2>.button1 {
    width: 100px;
    font-family: $font-sb;
    font-size: 12px;
    margin-top: -40px;
    margin-left: 110px;
}

///---------------------------------------------------------------------
.burger {
    display: flex;
    margin: 10px 10px 10px 10px;
}
#menuToggle {
    display: block;
    position: relative;
    top: -35px;
    left: 1000px;
}
#menuToggle a {
    text-decoration: none;
    color: $primary-1;
    transition: color 0.3s ease;
}
#menuToggle a:hover {
    color: $primary-2;
}
#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
}
#menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: $light;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

#menuToggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: $light;
}

#menuToggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);

}

#menuToggle input:checked~span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}

#menu {
    position: absolute;
    width: 230px;
    margin: 28px 0 0 139px;
    padding: 31px;
    padding-top: 16px;
    background: #ededed;
    list-style-type: none;
    display: none;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
    padding: 10px 0;
    font-size: 22px;
}

#menuToggle input:checked~ul {
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
}
//-----------------------------------------------------------------------------------------
@media (min-width: 1200px){
    .dropdown {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        margin-top: 45px;
        padding-left: 440px;
    }
    .phone {
        margin: 40px 0 -37px 730px;
    
    }
    .but-2 {
        position: absolute;
        display: flex;
        margin: -70px 0px 10px 780px;
    }
    .but-2>.button1 {
        width: 100px;
        font-family: $font-sb;
        font-size: 12px;
        margin-top: 40px;
        margin-left: 0;
    }
    #menuToggle {
        display: block;
    position: relative;
    top: -35px;
    left: 1000px;
    }
}
@media (min-width: 992px){
    .dropdown {
        position: absolute;
        margin-top: -64px;
        padding-left: 330px;
        justify-content: flex-start;
        align-items: center;
    }
    .phone {
        margin:-68px 0 -32px 610px;
    
    }
    .but-2 {
        position: absolute;
        display: flex;
        margin: -62px 0px 10px 655px;
    }
    .but-2>.button1 {
        width: 100px;
        font-family: $font-sb;
        font-size: 12px;
        margin-top: 40px;
        margin-left: 0;
    }
    #menuToggle {
        display: block;
        position: relative;
        top: -25px;
        left: 875px;
    }
}
@media (min-width: 768px){
    .phone {
        margin:-70px 0 -32px 315px;
    
    }
    .but-2 {
        position: absolute;
        display: flex;
        margin: -62px 0px 10px 390px;
    }
    .but-2>.button1 {
        width: 100px;
        font-family: $font-sb;
        font-size: 12px;
        margin-top: 40px;
        margin-left: 0;
    }
    #menuToggle {
        display: block;
        position: relative;
        top: -25px;
        left: 613px;
    }
}
@media (min-width: 328px){
    .phone {
        margin:1px 0 -20px 12px;
    
    }
    .but-2 {
        position: absolute;
        display: flex;
        margin: -55px 0px 10px 63px;
    }
    .but-2>.button1 {
        width: 100px;
        font-family: $font-sb;
        font-size: 12px;
        margin-top: 40px;
        margin-left: 0;
    }
    #menuToggle {
        display: block;
        position: relative;
        top: -90px;
        left: 260px;
    }
}
