.services {
    background-color: $primary-1;
    background-image: url(../../../img/icons_transparent.png);
    background-size: 100%;
    background-position: center;
}

.ser-all {
    display: block;
    text-align: center;
}

.ser-all .head {
    margin-top: 55px;
    color: $light;
}

.ser-all h2 {
    color: $light;
    margin-top: 30px;
}

.ser_info {
    margin: 60px 0 55px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.ser_box {
    width: 360px;
    height: 320px;
    background-color: $light;
    display: block;
    text-align: center;
    padding: 40px;
    position: relative;
}

.ser_box .Paragraph {
    margin-top: 10px;
}

.ser_icon {
    margin-bottom: 30px;
}

.icon_1 {
    position: relative;
}

.icon_2 {
    position: absolute;
    right: 137px;
    z-index: 1000;
}

.icon_21 {
    position: absolute;
    right: 140px;
}

.icon_22 {
    position: absolute;
    left: 176px;
}

.icon_3 {
    position: absolute;
    width: 70px;
    height: 70px;
    z-index: 1000;
    top: 60px;
    left: 145px;
}

.icon_31 {
    position: absolute;
    width: 70px;
    height: 70px;
    z-index: 1000;
    top: 60px;
    left: 149px;
}

.icon_32 {
    position: absolute;
    width: 75px;
    height: 75px;
    z-index: 1000;
    top: 55px;
    left: 145px;
}

.ser-all .btn2 {
    margin-bottom: 90px;
    font-size: 14px;
}

@media (min-width: 1200px) {
    .ser_box {
        width: 360px;
        height: 320px;
        background-color: $light;
        display: block;
        text-align: center;
        padding: 40px;
        position: relative;
        margin-bottom: 0;
    }

    .ser_info {
        margin: 60px 0 55px 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .ser_icon {
        margin-bottom: 30px;
    }

    .icon_2 {
        position: absolute;
        right: 137px;
        z-index: 1000;
    }

    .icon_21 {
        position: absolute;
        right: 140px;
    }

    .icon_22 {
        position: absolute;
        left: 176px;
    }

    .icon_3 {
        position: absolute;
        width: 70px;
        height: 70px;
        z-index: 1000;
        top: 60px;
        left: 145px;
    }

    .icon_31 {
        position: absolute;
        width: 70px;
        height: 70px;
        z-index: 1000;
        top: 60px;
        left: 149px;
    }

    .icon_32 {
        position: absolute;
        width: 75px;
        height: 75px;
        z-index: 1000;
        top: 55px;
        left: 145px;
    }
}

@media (min-width: 992px) {
    .ser_box {
        width: 300px;
        height: 300px;
        background-color: $light;
        display: block;
        text-align: center;
        padding: 30px;
        position: relative;
        margin-bottom: 0;
    }

    .ser_info {
        margin: 60px 0 55px 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .ser_icon {
        margin-bottom: 30px;
    }

    .icon_2 {
        right: 108px;
        z-index: 1000;
    }

    .icon_21 {
        right: 108px;
    }

    .icon_22 {
        left: 149px;
    }

    .icon_3 {
        width: 70px;
        height: 70px;
        z-index: 1000;
        top: 50px;
        left: 115px;
    }

    .icon_31 {
        width: 70px;
        height: 70px;
        z-index: 1000;
        top: 50px;
        left: 115px;
    }

    .icon_32 {
        width: 75px;
        height: 75px;
        z-index: 1000;
        top: 50px;
        left: 115px;
    }
}

@media (min-width: 768px) {
    .ser_box {
        width: 400px;
        height: 300px;
        background-color: $light;
        display: block;
        text-align: center;
        padding: 30px;
        position: relative;
        margin-bottom: 20px;
    }

    .ser_info {
        margin: 45px 0 55px 150px;
        display: block;

    }

    .ser_icon {
        margin-bottom: 20px;
    }

    .icon_2 {
        right: 158px;
        z-index: 1000;
    }

    .icon_21 {
        right: 158px;
    }

    .icon_22 {
        left: 198px;
    }

    .icon_3 {
        width: 70px;
        height: 70px;
        z-index: 1000;
        top: 50px;
        left: 165px;
    }

    .icon_31 {
        width: 70px;
        height: 70px;
        z-index: 1000;
        top: 50px;
        left: 165px;
    }

    .icon_32 {
        width: 75px;
        height: 75px;
        z-index: 1000;
        top: 45px;
        left: 165px;
    }
}

@media (min-width: 320px) {
    .ser_box {
        width: 280px;
        height: 300px;
        background-color: $light;
        display: block;
        text-align: center;
        padding: 30px;
        position: relative;
        margin-bottom: 20px;
    }

    .ser_info {
        margin: 45px 0 55px 5px;
        display: block;

    }

    .ser_icon {
        margin-bottom: 10px;
    }

    .icon_2 {
        right: 98px;
        z-index: 1000;
    }

    .icon_21 {
        right: 98px;
    }

    .icon_22 {
        left: 138px;
    }

    .icon_3 {
        width: 70px;
        height: 70px;
        z-index: 1000;
        top: 50px;
        left: 105px;
    }

    .icon_31 {
        width: 70px;
        height: 70px;
        z-index: 1000;
        top: 50px;
        left: 105px;
    }

    .icon_32 {
        width: 75px;
        height: 75px;
        z-index: 1000;
        top: 45px;
        left: 105px;
    }
}