h1,
h2,
h3,
h4,
h5,
h6,
ul,
body {
    margin: 0;
    padding: 0;
}

$primary-1:#03a9f4;
$primary-2:#f75e2e;
$primary-3:#ecfa4d;
$primary-4:#656a70;
$primary-5:#09a912;
$primary-6:#f44747;
$primary-7:#ffaa33;
$primary-8:#21a5f8;
$light:#ffff;
$dark:#0000;

$pr1-light-1: mix(#fff, $primary-1, 40%);
$pr2-light-1: mix(#fff, $primary-2, 40%);
$pr3-light-1: mix(#fff, $primary-3, 40%);
$pr4-light-1: mix(#fff, $primary-4, 40%);

$pr1-light-2: mix(#fff, $primary-1, 75%);
$pr2-light-2: mix(#fff, $primary-2, 75%);
$pr3-light-2: mix(#fff, $primary-3, 75%);
$pr4-light-2: mix(#fff, $primary-4, 75%);

$pr1-light-3: mix(#fff, $primary-1, 90%);
$pr2-light-3: mix(#fff, $primary-2, 90%);
$pr3-light-3: mix(#fff, $primary-3, 90%);
$pr4-light-3: mix(#fff, $primary-4, 90%);

$pr1-dark-1: mix(#000, $primary-1, 20%);
$pr2-dark-1: mix(#000, $primary-2, 20%);
$pr3-dark-1: mix(#000, $primary-3, 20%);
$pr4-dark-1: mix(#000, $primary-4, 20%);

$pr1-dark-2: mix(#000, $primary-1, 50%);
$pr2-dark-2: mix(#000, $primary-2, 50%);
$pr3-dark-2: mix(#000, $primary-3, 50%);
$pr4-dark-2: mix(#000, $primary-4, 50%);

$pr1-dark-3: mix(#000, $primary-1, 70%);
$pr2-dark-3: mix(#000, $primary-2, 70%);
$pr3-dark-3: mix(#000, $primary-3, 70%);
$pr4-dark-3: mix(#000, $primary-4, 70%);

$font-regular:'Pop-r';
$font-medium:'Pop-m';
$font-bold:'Pop-b';
$font-sb:'Pop-sb';
$font-os:'Open Sans';
$font-gab:'Gab';
$font-osit:'OpS-it';
$font-light:'Pop-lg';
$font-gabriola: 'Gabriola';
$font-myriad:'Myriad Pro';

// ul{
//     list-style-type: none;
//     @include list;
//     li{
//         position: relative;
//         display: flex;
//         align-items: center;


//         &::before{
//             content: '';
//             display: block;
//             width: 10px;
//             height: 10px;
//             background-color: $primary-1;
//             position: relative;
//             border-radius: 50%;
//             margin-right: 5px;
//         }
//         &::after{
//             content: '';
//             display: block;
//             width: 6px;
//             height: 3px;
//             border: solid 1px #fff;
//             border-width:0 0 1px 1px ;
//             transform: rotate(-45deg);
//             position: absolute;
//             left: 2px;

//         }
//     }
// }


h1 {
    @include font(35px, $font-bold, $pr4-dark-2);
}

h2 {
    @include font(33px, $font-medium, $pr4-dark-2);

    // &:hover {
    //     color: $light;
    //     background-color: $primary-1;
    // }
}

h3 {
    @include font(27px, $font-sb, $pr4-dark-2);
}

h4 {
    @include font(22px, $font-medium, $pr4-dark-2);
}

h5 {
    @include font(17px, $font-medium, $pr4-dark-2);
}

h6 {
    @include font(15px, $font-medium, $pr4-dark-2);
}

.Paragraph {
    @include Paragraph;
}

.head {
    @include head;
}

.subtitle {
    @include subtitle;

    &:hover {
        color: $light;
        background-color: $primary-1;
    }
}

.Quotation {
    @include Quotation;
}

//BTN//

.btn1 {
    @include btn(220px, $primary-2, 50px, $font-sb);
    text-transform: uppercase;

    &:hover {
        background-color: $pr2-light-1;
    }

    &[disabled] {
        background-color: $pr4-light-2;
    }
}

.btn2 {
    @include btn(280px, $pr1-dark-1, 50px, $font-medium);

    &:hover {
        background-color: $pr1-light-1;
    }

    &[disabled] {
        background-color: $pr4-light-2;
    }
}

.btn3 {
    @include btn(200px, $primary-1, 50px, $font-medium);
    text-transform: capitalize;

    &:hover {
        background-color: $pr1-light-1;
    }

    &[disabled] {
        background-color: $pr4-light-2;
    }
}

.btn4 {
    @include btn(220px, $light, 50px, $font-sb, 1px solid $primary-2, $primary-2);
    text-transform: uppercase;

    &:hover {
        background-color: $pr2-light-1;
        color: $light;
    }

    &[disabled] {
        background-color: $pr4-light-2;
        color: $light;
    }
}

.btn5 {
    @include btn(200px, $light, 50px, $font-sb, 1px solid $primary-1, $primary-1);
    text-transform: capitalize;

    &:hover {
        background-color: $pr1-light-1;
        color: $light;
    }

    &[disabled] {
        background-color: $pr4-light-2;
        color: $light;
    }
}

.button1 {
    @include btn(150px, $primary-2, 40px, $font-sb);
    text-transform: uppercase;
    font-size: 13px;

    &:hover {
        background-color: $pr2-light-1;
    }

    &[disabled] {
        background-color: $pr4-light-2;
    }
}

.button2 {
    @include btn(170px, $primary-1, 40px, $font-medium);
    text-transform: capitalize;
    font-size: 13px;

    &:hover {
        background-color: $pr1-light-1;
    }

    &[disabled] {
        background-color: $pr4-light-2;
    }
}

.button3 {
    @include btn(150px, $primary-1, 40px, $font-medium);
    text-transform: capitalize;
    font-size: 13px;

    &:hover {
        background-color: $pr1-light-2;
    }

    &[disabled] {
        background-color: $pr4-light-2;
    }
}

.button4 {
    @include btn(150px, $light, 40px, $font-sb, 1px solid $primary-2, $primary-2);
    text-transform: capitalize;
    font-size: 13px;

    &:hover {
        background-color: $pr2-light-1;
        color: $light;
    }

    &[disabled] {
        background-color: $pr4-light-2;
        color: $light;
    }
}

.button5 {
    @include btn (150px, $light, 40px, $font-sb, 1px solid $primary-1, $primary-1);
    text-transform: capitalize;
    font-size: 13px;

    &:hover {
        background-color: $pr1-light-1;
        color: $light;
    }

    &[disabled] {
        background-color: $pr4-light-2;
        color: $light;
    }
}

//placeholder//
.placeholder {
    @include dropdown (320px, $bg:$pr4-light-2);
    font-size: 13px;
    outline: 0 !important;

    &:hover {
        background-color: $light;
    }

    &:active {
        border: solid 1px $primary-1;
    }

}

//Number of pages//

.number {
    @include dropdown (355px, $bg:$pr4-light-2);
    border-left: none;
    border-right: none;
    padding: 0;
    text-align: center;

    button {
        width: 49px;
        height: 49px;
        border: solid 1px $primary-4;
        background-color: $light;
        border-radius: 5%;
        font-size: 25px;
    }

    button:hover {
        filter: drop-shadow(2px 2px 2px $primary-4);
    }

    .raz {
        all: unset;
        -moz-appearance: textfield;
        width: 200px;
        text-align: center;
    }


    .raz::-webkit-inner-spin-button {
        display: none;
    }
}

//Dropdawn//
.dropbtn {
    @include dropdown(320px, $bg:$pr4-light-2);
    background-color: $light;
    border: solid 1px $primary-4;
    color: $primary-4;
    padding: 16px;
    font-size: 13px;
    cursor: pointer;
}

.dropdown-b {
    // position: relative;
    display: flex;
    justify-content: center;
}

.dropdown-content {
    display: none;
    position: relative;
    background-color: $light;
    width: 200px;
    border: solid 1px $primary-4;
    border-radius: 2%;
    z-index: 1;
}

.dropdown-content a {
    color: $primary-4;
    font-family: $font-regular;
    font-size: 14px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: $pr1-light-3;
    text-decoration: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropbtn:hover {
    border: solid 1px $primary-1;
}

.dropbtn:active {
    border: solid 1px $primary-1;
}

//Success//
.form-horizontal {
    margin-top: 20px;
    font-family: $font-regular;
    font-size: 13px;
    position: relative;

}

.has-success .form-control {
    width: 320px;
    height: 50px;
    border-color: $primary-5;
    color: $primary-5;
}

.has-success .form-control-feedback {
    color: $primary-5;
}

.has-error .form-control-feedback {
    color: $primary-2;
}

.has-error .form-control {
    width: 320px;
    height: 50px;
    border-color: $primary-2;
    color: $primary-2;
}

.form-horizontal .has-feedback .form-control-feedback {
    margin: 8px 30px;
    position: absolute;
}

//checkbox// 

.checkbox.style-a {
    display: inline-block;
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    user-select: none;
}

.checkbox.style-a input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkbox.style-a input:checked~.checkbox__checkmark {
    background-color: $primary-1;
    border: solid 1px $primary-1;
}

.checkbox.style-a input:checked~.checkbox__checkmark:after {
    opacity: 1;
}

.checkbox.style-a:hover input~.checkbox__checkmark {
    border: solid 1px $primary-1;
}

.checkbox.style-a .checkbox__checkmark {
    position: absolute;
    top: 4px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: $light;
    border: 1px solid $pr4-light-1;
    transition: background-color 0.25s ease;
    border-radius: 3px;
}

.checkbox.style-a .checkbox__checkmark:after {
    content: "";
    position: absolute;
    left: 8px;
    top: 4px;
    width: 6px;
    height: 10px;
    border: solid $light;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    opacity: 0;
    transition: opacity 0.25s ease;
}

//radio//

input[type=radio] {
    margin-top: 30px;
    margin-right: 20px;
}

.radiobox {
    width: 25px;
    height: 25px;
    border: 1px solid $pr4-light-1;

    &:hover {
        border: 1px solid $primary-1;
    }
}

/////////

/* Базовый контейнер табов */
.tabs {
    width: 500px;
    padding: 0;
}

.tabs>section {
    display: none;
    padding: 30px 0 30px 0;
}

.tabs>section>p {
    width: 500px;
    margin: 0 0 5px 5px;
    line-height: auto;
    color: $pr4-dark-2;
    font-family: $font-regular;
    font-size: 17px;
}

.tabs>input {
    display: none;
    position: absolute;
}

.tabs>label {
    display: inline-block;
    margin: 0 -2px;
    padding: 15px 25px;
    text-align: center;
    color: $pr4-light-2;
    font-family: $font-regular;
    font-size: 14px;
    border-bottom: 2px solid $pr4-light-2;

}


.tabs>label:hover {
    color: #888;
    cursor: pointer;
}

.tabs>input:checked+label {
    width: 60px;
    color: $primary-2;
    font-family: $font-regular;
    font-size: 14px;
    border-bottom: 2px solid $primary-2;
}

#tab1:checked~#content-tab1,
#tab2:checked~#content-tab2,
#tab3:checked~#content-tab3,
#tab4:checked~#content-tab4 {
    display: block;
}



//////
.pagin {
    display: inline-block;
}

.pagin a {
    color: $pr4-light-1;
    font-family: $font-medium;
    font-size: 13px;
    float: left;
    padding: 5px 10px;
    text-decoration: none;
}

.pagin a.active {
    background-color: $primary-1;
    color: white;
    border-radius: 50%;
}

.pagin a:hover:not(.active) {
    background-color: $primary-1;
    color: white;
    border-radius: 50%;
    padding: 5px 10px;
}

//////dotted

.pagination {
    padding: 30px 0;
}

.pagination ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.pagination a {
    display: inline-block;

}


.p6 a {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    padding: 0;
    margin: 5px;
    text-align: center;
    position: relative;
    background-color: $pr4-light-1;
}

.p6 .is-active {
    background-color: $light;
    border: 4px solid $primary-1;
}

.p6 a:hover {
    background-color: $light;
    border: 4px solid $primary-1;
}

////Social pics

.icons {
    font-size: 15px;
}

.icons i {
    margin-left: 40px;
}

.icons i:hover:nth-child(1) {
    color: #3b5999;
}

.icons i:hover:nth-child(2) {
    color: #55acef;
}

.icons i:hover:nth-child(3) {
    color: #c1182a;
}

.icons i:hover:nth-child(4) {
    color: #de4b39;
}

.icons-f {
    font-size: 15px;
    color: $light;
    margin: 20px;
    padding: 20px 0;
    width: 300px;
    height: 70px;
    background-color: $primary-1;
}

.icons-f i {
    margin-left: 30px;
    padding: 10px;
    width: 35px;
    height: 35px;
    border: solid 1px $light;
    border-radius: 50%;
}

.icons-f i:hover {
    background-color: $pr1-dark-1;
    border: none;
}

/////Information popup

.information {
    width: 320px;
    height: 180px;
    margin: 10px 20px;
    border: solid 1px $pr4-light-1;
    text-align: center;

}

.information p {
    font-family: $font-light;
    font-size: 13px;
    color: $pr4-dark-2;
    padding: 25px;
}